<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org%22%3E/">
<head>
    <meta charset="UTF-8">
<title th:text="${employee.name}"></title>
</head>
<body>
<h1>Fiche employée</h1>
<p><a th:href="@{/}">Home</a></p>

<p>Nom : <span th:text="${employee.name}"></span> </p>
<p>Adresse : <span th:text="${employee.address}"></span> </p>
<p>Courriel : <span th:text="${employee.email}"></span> </p>
<p>Téléphone : <span th:text="${employee.phone}"></span> </p>
<p>Fonction : <span th:text="${employee.fonction}"></span> </p>
</body>
</html>